# Токен Telegram бота (получить у @BotFather)
BOT_TOKEN="YOUR-BOT-TOKEN-HERE"

# URL вашего веб-приложения
WEBAPP_URL="https://YOUR-DOMAIN-HERE-app.loophole.site"

# URL для WebSocket соединения
NEXT_PUBLIC_WS_URL="wss://YOUR-DOMAIN-HERE-ws.loophole.site"

# База данных (обратите внимание на протокол file:)
DATABASE_URL="file:./dev.db"
